<style type="text/css" media="all">
body {
	font: normal 12px arial, sans-serif;
}

canvas {
	border: 1px solid #9C9898;
}

#createDiv{
	font: normal 12px arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	color: #444;
}
	
a.button {
    background: transparent url('img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    font: normal 12px arial, sans-serif;
    margin-left: auto;
	margin-right: auto;
    height: 24px;
    padding: 5px 18px 4px 0; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('img/bg_button_span.gif') no-repeat;
    line-height: 14px;
    padding: 5px 0 4px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
    padding: 5px 18px 4px 0;
}

a.button:active span {
    background-position: bottom left;
    padding: 5px 0 4px 18px; /* push text down 1px */
}

option {
	font: normal 12px arial, sans-serif;
}
</style>