<style type="text/css" media="all">
	body 
	{
		font-family: "Verdana";
		color: black;
	}
	
	h1 
	{
		font-size: 4em;
		color: black;
		text-align: center;
	}
	h2
	{
		font-size: 2em;
		color: black;
		text-align: center;
	}
	
</style>